#class{
    text-decoration: overline dashed red;
text-shadow: 5px 4px green;
}

#class1{
    text-decoration: underline wavy purple;
    text-shadow: 7px 50px 2348px purple;
}

#class{
    text-align: justify;
    text-decoration: line-through dashed blue;
    text-shadow:  90px 100px 200px brown;
}